# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sungai Padi,TH,6.0851,101.8766,73.49,95,94,2.28,overcast clouds
1,1,Mahebourg,MU,-20.4081,57.7000,70.09,73,20,6.91,few clouds
2,2,Clyde River,CA,70.4692,-68.5914,25.03,93,100,16.11,overcast clouds
3,3,Nanortalik,GL,60.1432,-45.2371,36.54,76,100,5.55,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,68.67,66,27,17.81,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [15]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 73
What is the maximum temperature you would like for your trip? 93

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [16]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sungai Padi,TH,6.0851,101.8766,73.49,95,94,2.28,overcast clouds
6,6,Avarua,CK,-21.2078,-159.7750,80.65,61,75,17.27,broken clouds
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,73.36,88,0,14.97,moderate rain
10,10,San Pedro De Macoris,DO,18.4616,-69.2972,80.73,81,10,4.63,clear sky
11,11,Cheney,US,47.4874,-117.5758,75.13,33,0,5.75,clear sky
16,16,Pemberton,CA,50.3164,-122.8027,78.21,31,90,4.00,overcast clouds
17,17,Butaritari,KI,3.0707,172.7902,81.79,77,23,17.07,light rain
20,20,Kapaa,US,22.0752,-159.3190,84.18,70,0,10.36,clear sky
21,21,Faanui,PF,-16.4833,-151.7500,78.01,78,16,17.07,light rain
30,30,Cabo San Lucas,MX,22.8909,-109.9124,83.50,65,40,5.75,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [17]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head()

clean_travel_cities_df.count()

City_ID                230
City                   230
Country                230
Lat                    230
Lng                    230
Max Temp               230
Humidity               230
Cloudiness             230
Wind Speed             230
Current Description    230
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [20]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
0,Sungai Padi,TH,73.49,overcast clouds,6.0851,101.8766
6,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750
7,Arraial Do Cabo,BR,73.36,moderate rain,-22.9661,-42.0278
10,San Pedro De Macoris,DO,80.73,clear sky,18.4616,-69.2972
11,Cheney,US,75.13,clear sky,47.4874,-117.5758
16,Pemberton,CA,78.21,overcast clouds,50.3164,-122.8027
17,Butaritari,KI,81.79,light rain,3.0707,172.7902
20,Kapaa,US,84.18,clear sky,22.0752,-159.3190
21,Faanui,PF,78.01,light rain,-16.4833,-151.7500
30,Cabo San Lucas,MX,83.50,scattered clouds,22.8909,-109.9124

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [21]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sungai Padi,TH,73.49,overcast clouds,6.0851,101.8766,
6,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,
7,Arraial Do Cabo,BR,73.36,moderate rain,-22.9661,-42.0278,
10,San Pedro De Macoris,DO,80.73,clear sky,18.4616,-69.2972,
11,Cheney,US,75.13,clear sky,47.4874,-117.5758,
16,Pemberton,CA,78.21,overcast clouds,50.3164,-122.8027,
17,Butaritari,KI,81.79,light rain,3.0707,172.7902,
20,Kapaa,US,84.18,clear sky,22.0752,-159.3190,
21,Faanui,PF,78.01,light rain,-16.4833,-151.7500,
30,Cabo San Lucas,MX,83.50,scattered clouds,22.8909,-109.9124,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [22]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [23]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sungai Padi,TH,73.49,overcast clouds,6.0851,101.8766,บ้าน​ลูกบอลกับลูกบาส
6,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
7,Arraial Do Cabo,BR,73.36,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
10,San Pedro De Macoris,DO,80.73,clear sky,18.4616,-69.2972,Apartahotel Guaraguao
11,Cheney,US,75.13,clear sky,47.4874,-117.5758,"Holiday Inn Express & Suites Cheney, an IHG Hotel"
...,...,...,...,...,...,...,...
673,Namatanai,PG,84.18,light rain,-3.6667,152.4333,Seagulls Inn Namatani
676,Gizo,SB,83.93,scattered clouds,-8.1030,156.8419,Imagination Island
680,Sidi Ali,DZ,80.46,scattered clouds,36.0998,0.4206,Khaled
682,Kota Bahru,MY,76.98,light rain,6.1333,102.2386,Grand Riverview Hotel
689,Marsh Harbour,BS,80.24,scattered clouds,26.5412,-77.0636,Abaco Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [26]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sungai Padi,TH,73.49,overcast clouds,6.0851,101.8766,บ้าน​ลูกบอลกับลูกบาส
6,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
7,Arraial Do Cabo,BR,73.36,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
10,San Pedro De Macoris,DO,80.73,clear sky,18.4616,-69.2972,Apartahotel Guaraguao
11,Cheney,US,75.13,clear sky,47.4874,-117.5758,"Holiday Inn Express & Suites Cheney, an IHG Hotel"
16,Pemberton,CA,78.21,overcast clouds,50.3164,-122.8027,Pemberton Valley Lodge
17,Butaritari,KI,81.79,light rain,3.0707,172.7902,Isles Sunset Lodge
20,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Faanui,PF,78.01,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
30,Cabo San Lucas,MX,83.50,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [27]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [28]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [29]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>บ้าน\u200bลูกบอลกับลูกบาส</dd>\n<dt>City</dt><dd>Sungai Padi</dd>\n<dt>Country</dt><dd>TH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>moderate rain and 73.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Apartahotel Guaraguao</dd>\n<dt>City</dt><dd>San Pedro De Macoris</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express & Suites Cheney, an IHG Hotel</dd>\n<dt>City</dt><dd>Cheney</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pemberton Valley Lodge</dd>\n<dt>City</dt><dd>Pemberton</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 81.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 78.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 83.5 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [30]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0    6.0851  101.8766
6  -21.2078 -159.7750
7  -22.9661  -42.0278
10  18.4616  -69.2972
11  47.4874 -117.5758
16  50.3164 -122.8027
17   3.0707  172.7902
20  22.0752 -159.3190
21 -16.4833 -151.7500
30  22.8909 -109.9124

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [31]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))